<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sentiment Analyzer</title>
</head>
<body>
    <header>
        <div class="logo">Sentiment Analyzer</div>
    </header>
    <main>
        <h2>Evaluting A News Article With Natural Language Processing</h2>
        <section class="inputSection" id="inputSection">
            <form class="inputForm">
                <input type="text" id="userInput" class="userInput" placeholder="Enter your URL here...">
                <input type="submit" value="Submit" class="userSubmit" onclick="return Client.handleSubmit(event)">
            </form>
        </section>
        <section class="errorSection hide">
            <div class="errorDiv">

            </div>
        </section>
        <section class="outputSection hide">
            <div class="analysis">Evaluation Result</div>
            <div class="analysisOutput">
                <ul class="evaluationList">
                    <li>URL<b>:</b> <span id="url"></span></li>
                    <li>SubJectivity<b>:</b> <span id="subjectivity"></span></li>
                    <li>Score<b>:</b> <span id="score"></span></li>
                    <li>Irony<b>:</b> <span id="irony"></span></li>
                    <li>Text Snippet<b>:</b> <span id="text-snippet"></span></li>
                </ul>               
            </div>
        </section>
    </main>
    <footer>
        <div class="info">
            Made by Dilkhush :)
        </div>
    </footer>
</body>
</html>