<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sentiment Analyzer</title>
</head>
<body>
    <header>
        <div class="logo">Sentiment Analyzer</div>
    </header>
    <main>
        <h2>Evaluting A News Article With Natural Language Processing</h2>
        <section class="inputSection" id="inputSection">
            <form class="inputForm">
                <input type="text" class="userInput" placeholder="Enter your text here...">
                <input type="submit" value="Submit" class="userSubmit">
            </form>
        </section>
        <section class="outputSection">
            <div class="analysis">--Analysis--</div>
            <div class="analysisOutput">Output</div>
        </section>
    </main>
    <footer>
        <div class="info">
            Made by Dilkhush :)
        </div>
    </footer>
</body>
</html>