.inputSection {

   
    .inputForm {        
        display: flex;
        flex-direction: column;

        .userInput {
            flex: 1;
            max-width: 100%;
            padding: .5rem;
            font-size: 1.2rem;
            outline: none;
            &:focus{
                border: 2px solid #ff4500;
            }
        }
        .userSubmit {
            flex: 1;
            font-size: 1.2rem;
            margin-top: 1rem;
            padding-block: .75rem;
            padding-inline: .75rem;
            width: 100%;
            color: #fff;
            background: #ff4500;
            cursor: pointer;

            &:hover {
                background: #c93600;
            }
        }
    }
}