.outputSection {
    margin-top: 3rem;
    border: 2px solid green;

    .analysis {
        width: 100%;
        text-align: center;
        font-size: 1.5rem;
        font-weight: 700;
        padding-block: 1.5rem;

    }
    .analysisOutput {

        .evaluationList {
            font-size: 1rem;
            list-style: none;

            li > span {
                color: #ff4500;
            }
        }
    }

}